beautifulsoup4==4.6.3
bs4==0.0.1
cffi==1.11.5
Cheetah==2.4.4
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
enum34==1.1.6
functools32==3.2.3.post2
gyp==0.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipaddress==1.0.22
jsonlines==1.2.0
keyring==10.6.0
keyrings.alt==3.0
libvirt-python==4.0.0
lxml==4.2.5
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
paramiko==2.0.0
parsel==1.5.1
pexpect==4.2.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pycrypto==2.6.1
PyDispatcher==2.0.5
pygobject==3.26.1
PyHamcrest==1.9.0
pyodbc==4.0.17
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
Pyrex==0.9.9
pysqlite==2.7.0
python-apt==1.6.3
pyxdg==0.25
queuelib==1.5.0
Scrapy==1.5.1
SecretStorage==2.3.1
selenium==3.8.0
service-identity==17.0.0
six==1.11.0
Twisted==18.9.0
vboxapi==1.0
virtualenv==16.1.0
w3lib==1.19.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zope.interface==4.6.0
